body{
    background-color: #1a1b20;

}
.txt{
    color: lightblue;
    
}
.link{
    color:  darkolivegreen;
}
.Made{
    color: lightblue;
}
html {
    font-family: "PT Sans", Calibri, Tahoma, sans-ser
  }