body{
    background-color: #1a1b20;

}
.txt{
    color: lightblue;
    
}
.link{
    color:  rgb(116, 147, 63);
}
.Made{
    color: lightblue;
}
html {
    font-family: "Jetbrains Mono", sans-serif;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  .container {
    display: flex;
    align-items: center;
}

.logo-header {
    margin-right: 10px; /* Adjust the spacing between the image and the heading */
}

.img {
    margin: auto;
    height: 100%;
    width: 100%;
  }
